[postgres]
enabled = True
user = {{ mamonsu_user_name }}
password = {{ mamonsu_user_password }}
database = {{ mamonsu_database }}
host = {{ ansible_hostname }}
port = 5432
application_name = {{ mamonsu_application_name }}
query_timeout = 10

[system]
enabled = False

[sender]
queue = 2048

[agent]
enabled = False
host = 127.0.0.1
port = 10052

[plugins]
enabled = True
directory = /etc/mamonsu/plugins

[zabbix]
enabled = True
client = {{ ansible_hostname }}
address = {{ zabbix_agent_serveractive }}
port = 10051

[metric_log]
enabled = False
directory = /var/log/mamonsu
max_size_mb = 1024

[log]
file = None
level = INFO
format = [%(levelname)s] %(asctime)s - %(name)s	-	%(message)s

[health]
max_memory_usage = 41943040
interval = 60

[bgwriter]
interval = 60

[connections]
percent_connections_tr = 90
interval = 60

[databases]
min_rows = 50
bloat_scale = 0.2
interval = 300

[pghealth]
uptime = 600
cache = 80
interval = 60

[instance]
interval = 60

[xlog]
lag_more_than_in_sec = 300
interval = 60

[pgstatstatement]
interval = 60

[pgbuffercache]
interval = 60

[pgwaitsampling]
interval = 60

[checkpoint]
max_checkpoint_by_wal_in_hour = 12
interval = 300

[oldest]
max_xid_age = 18000000
max_transaction_time = 18000
max_query_time = 18000
interval = 60

[pglocks]
interval = 60

[cfs]
force_enable = False
interval = 60

[archivecommand]
max_count_files = 2
interval = 60

[preparedtransaction]
max_prepared_transaction_time = 60
interval = 60

[relationssize]
enabled = False
relations = postgres.pg_catalog.pg_class,postgres.pg_catalog.pg_user
interval = 300

[memoryleakdiagnostic]
enabled = False
private_anon_mem_threshold = 1GB
interval = 60

[replica]
enabled = true
interval = 10

[procstat]
interval = 60

[diskstats]
interval = 60

[disksizes]
vfs_percent_free = 10
vfs_inode_percent_free = 10
interval = 60

[memory]
interval = 60

[systemuptime]
up_time = 300
interval = 60

[openfiles]
interval = 60

[net]
interval = 60

[la]
interval = 60

[pgprobackup]
enabled = False
interval = 300
backup_dirs = /backup_dir1,/backup_dir2
pg_probackup_path = /usr/bin/pg_probackup-11

[zbxsender]
interval = 10

[logsender]
interval = 2

[agentapi]
interval = 60

[Replica]
enabled = True
interval = 60

[Acitvity]
enabled = False
interval = 30