UserParameter=patroni.get.config[*],/bin/python3 /etc/zabbix/scripts/patroni_monitoring/patroni.py --addr $1 --conf
UserParameter=patroni.get.node_info[*],/bin/python3 /etc/zabbix/scripts/patroni_monitoring/patroni.py --addr $1
