--
-- Create mamonsu user and mamonsu database
--

CREATE USER {{ mamonsu_user_name }} WITH PASSWORD '{{ mamonsu_user_password }}' LOGIN;

GRANT pg_monitor TO {{ mamonsu_user_name }};

GRANT pg_read_all_settings TO {{ mamonsu_user_name }};

CREATE DATABASE {{ mamonsu_database }} OWNER {{ mamonsu_user_name }};

