--
-- Create rewind user
--
CREATE USER {{ rewind_user_name }} WITH PASSWORD '{{ rewind_user_password }}' LOGIN;

GRANT EXECUTE ON FUNCTION pg_catalog.pg_ls_dir(text, boolean, boolean) TO {{ rewind_user_name }};

GRANT EXECUTE ON FUNCTION pg_catalog.pg_stat_file(text, boolean) TO {{ rewind_user_name }};

GRANT EXECUTE ON FUNCTION pg_catalog.pg_read_binary_file(text) TO {{ rewind_user_name }};

GRANT EXECUTE ON FUNCTION pg_catalog.pg_read_binary_file(text, bigint, bigint, boolean) TO {{ rewind_user_name }};

