# -*- coding: utf-8 -*-
# To generate new template for Zabbix please run
# python3 ./mamonsu.py export template test.xml -c /etc/mamonsu/agent.conf --add-plugins=/etc/mamonsu/plugins
#

from mamonsu.plugins.pgsql.plugin import PgsqlPlugin as Plugin
from mamonsu.plugins.pgsql.pool import Pooler


class Replica(Plugin):
    DEFAULT_CONFIG = {
        'enabled': str(False)
    }
    Interval = 60

    AgentPluginType = 'pg'

    key_is_in_recovery = 'pgsql.replica.status{0}'

    def run(self, zbx):
        zbx.send(self.key_is_in_recovery.format(
            '[]'), int(Pooler.in_recovery()))

    def items(self, template):

        result = ''

        if self.Type == "mamonsu":
            delay = self.plugin_config('interval')
            value_type = Plugin.VALUE_TYPE.numeric_unsigned
        else:
            delay = 5  # TODO check delay
            value_type = Plugin.VALUE_TYPE.numeric_float

        result += template.item({
            'name': 'PostgreSQL: replica status',
            'key': self.right_type(self.key_is_in_recovery),
            'delay': delay,
            'value_type': value_type
        })
        return result
